{% extends "layout.html" %}

{% block title %}
    Addresses
{% endblock %}
   
{% block main %}
    <h2>Addresses</h2>
   <p>Add a bitcoin address</p>
    <form action="/post_address" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="addr" placeholder="Bitcoin address" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Enter</button>
    </form>
    <br />
    {% if error_msg %}
        <p class="error">{{ error_msg }}</p>
    {% endif %}
   
   {% if data %}
   <h3>Your bitcoin wallets:</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Wallet Address</th>
                <th>Balance (BTC)</th>
                <th>Balance (USD)</th>

            </tr>
        </thead>
        <tbody>
            {% for item in data %}
             <tr>
                    <td>{{ item.addr }}</td>
                    <td>{{ item.balance }}</td>
                    <td>{{ item.balance_usd }}</td>
            </tr>
            {% endfor %}
            <tr class="total">
                    <td>TOTAL</td>
                    <td>{{ total_btc}}</td>
                    <td>{{ total_usd }}</td>
            </tr>
            
        </tbody>
    </table>
   {% endif %}

{% endblock %}